{% extends "layout.html" %}
{% block title %}Constellations{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div>
                <p>We have loaded {{ constellations|length }} constellations</p>

                <table class="u-full-width">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Desig</th>
                      <th>Gen</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for key, value in constellations|dictsort %}
                        <tr>
                            <td><a href="/constellations/{{ value['properties']['desig']|e }}">{{ value['properties']['name'] }}</a></td>
                            <td>{{ value['properties']['desig']|e }}</td>
                            <td>{{ value['properties']['gen'] }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
